html {
    background-color: lightgray;
}

.header {
    background-color: #000;
    color: #fff;
}
.header-active{
    background-color: #fff;
    color: #000;
}

.onButtonClick {
    color: red;
    text-transform: uppercase;
}

.btn {
    padding: 10px;
    font-size: 16px;
    margin-right: 50px;
}
